<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Travel planning app">
  <meta name="author" content="Daria Kashcha dashka.kh@gmail.com">

  <title>Around the world</title>

  <link rel="stylesheet" href="css/lib/bootstrap.min.css">
  <link rel="stylesheet" href="css/lib/blueimp-gallery.min.css">
  <link rel="stylesheet" href="css/lib/bootstrap-image-gallery.min.css">
  <link rel="stylesheet" href="css/styles.css">

  <script src="js/lib/jquery-1.11.1.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/lib/lodash.underscore.min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/lib/jquery.blueimp-gallery.min.js"></script>
  <script src="js/lib/bootstrap-image-gallery.min.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

  <script src='js/bundle.js'></script>

</head>

<body>

  <div class = "tabbable map-container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active" id='map-tab-nav'><a href="#map-tab" data-toggle="tab"><span class="glyphicon glyphicon-globe"></span> Map</a></li>
            <li id="my-maps-nav">
              <a href="#map-tab" data-toggle="tab"><span class="glyphicon glyphicon-th-list"></span> My maps</a>
            </li>
            <li><a href="#new-place-tab" data-toggle="tab" id='new-place-tab-nav'><span class="glyphicon glyphicon-map-marker"></span> New</a></li>
          </ul>

          <form class="navbar-form navbar-left search-form" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div><!-- /input-group -->
          </form><!-- /search-form -->

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="tab-content map-container">
      <div class="tab-pane active map-container" id="map-tab">

        <div class="sidebar fixed-right place-details">
          <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
          <div class="content"></div>
        </div><!-- /details-sidebar -->

        <div id="maps-sidebar" class="sidebar">
          <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
          <div id="content">
          </div><!-- /content -->
        </div>

        <div id="map-canvas" class="map-container">
        </div>

      </div>
      <div class="tab-pane" id="new-place-tab">

        <div class="container">

          <form id="new-place-form">
            <div class="form-group">
              <input type="text" class="form-control" id="new-place-name" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="new-place-location" placeholder="Location">
            </div>
            <div class="form-group">
              <textarea class="form-control" cols="40" rows="5" id="new-place-notes" placeholder="Notes"></textarea>
            </div>
            <div class="form-group">
              <textarea class="form-control" cols="40" rows="5" id="new-place-pics" placeholder="Pics"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>

        </div>
      </div>
    </div>
  </div><!-- /tabbable -->

  <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
  <div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-hidden="true">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body next"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left prev">
              <i class="glyphicon glyphicon-chevron-left"></i>
              Previous
            </button>
            <button type="button" class="btn btn-primary next">
              Next
              <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/template" id="maps-list-template">
    <h4 id='maps-header'>
      Maps
      <button type="button" class="btn btn-default btx-xs btn-right" id="new">
        <span class="glyphicon glyphicon-plus"></span> New 
      </button>
    </h4>
    <div class="scrollable">
      <ul id="maps-list"></ul>
    </div>
  </script>

  <script type="text/template" id="map-template">
    <div id=<% var divId = name.replace(/[.|\s]/g, '-') %><%- divId %>>
      <a href='#' class='bootstrap-style-link'><%- name %></a>
      <button type="button" class="btn btn-default btn-xs btn-right delete" id="delete">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button type="button" class="btn btn-default btn-xs btn-right edit" id='edit'>
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </div>
  </script>

  <script type="text/template" id="edit-map-template">
  <div id=<% var divId = name.replace(/[.|\s]/g, '-') %><%- divId %>>
    <form id="edit-map-form" class="edit-map-form">
      <div class="input-group">
        <input type="text" class="form-control" id="edit-map-name" name="name" value='<%- name %>'>
        <span class="input-group-btn">
          <button class="btn btn-default save" type="submit" id='save'>
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        </span>
      </div><!-- /input-group --> 
    </form>
    </div>
  </script>

  <script type="text/template" id="new-map-template">
    <form id="new-map-form">
      <div class="input-group">
        <input type="text" class="form-control" id="name" name="name" placeholder="New map name...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit" id='save'>
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        </span>
      </div><!-- /input-group -->
    </form>
  </script> 

  <script type="text/template" id="map-details-template">
    <h4>
    <%- name %>
      <button type="button" class="btn btn-default btn-right add" id="add">
        <span class="glyphicon glyphicon-plus"> Place</span>
      </button>
    </h4>
    <div class="scrollable">
      <ul id="places-list"></ul>
    </div>
  </script>

  <script type="text/template" id="place-template">
    <li>
      <div id=<% var divId = name.replace(/[.|\s]/g, '-') %><%- divId %>>
        <a href='#' class='bootstrap-style-link' id='link'><%- name %></a>
        <button type="button" class="btn btn-default btn-xs delete btn-right remove" id='remove'>
          <span class="glyphicon glyphicon-minus"></span>
        </button>
        <button type="button" class="btn btn-default btn-xs delete btn-right lookup">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </li>
  </script>

  <script type="text/template" id="add-places-template">
    <h4>Add places:</h4>
    <div class="scrollable">
      <ul id="places-list"></ul>
    </div>
    <button class="btn btn-default save" id='save'>
      <span class="glyphicon glyphicon-ok"></span>
    </button>
  </script>

  <script type="text/template" id="add-place-template">
    <li>
    <div id=<% var divId = name.replace(/[.|\s]/g, '-') %><%- divId %>>
      <a href='#' class='bootstrap-style-link' id='link'><%- name %></a>
      <input type="checkbox" class='chbx-right'>
    </div>
    </li>
  </script>


  <script type="text/template" id="place-details-template">
    <ul>
      <li class="place-name">
        <h4>
          <%- name %> 
          <button type="button" class="btn btn-default edit">edit</button>
        </h4>
      </li>

      <li class="location">
        <%- location.lat %>, <%- location.lng %>
      </li>

      <li class="parent-maps">
        <b>on maps: </b>
      </li>

      <li class="notes">
        <%- notes %>
      </li>

      <li>
        <div class="pics-container">
          <div class="scrollable">
            <div class="pic-links"><%= picsHtml %></div>
          </div><!-- /scrollable -->
        </div><!-- /pics-container -->
      </li>
    </ul>
  </script>


  <script type="text/template" id="place-edit-template">
    <form id="edit-place-form">
      <div class="form-group">
        <input type="text" name='name' class="form-control" value='<%- name %>'>
      </div>
      <div class="form-group">
        <input type="text" name='location' class="form-control" value='<%- location.lat %>, <%- location.lng %>'>
      </div>
      <div class="form-group">
        <textarea name='notes' class="form-control" cols="40" rows="1" value='<%- notes %>'></textarea>
      </div>
      <div class="form-group">
        <textarea name='pics' class="form-control" cols="40" rows="1" value='<%- pics %>'></textarea>
      </div>

      <p class="parent-maps">
        <b>on maps: </b>
      </p>

      <div class="dropdown add-to-map">
        <button class="btn btn-default dropdown-toggle add-map" type="button" id="add-to-map" data-toggle="dropdown">
          Add to map
          <span class="caret"></span>
        </button>
      </div>

      <button type="submit" class="btn btn-primary save">Save</button>
    </form>
  </script>

  <script type="text/template" id="pic-link-template">
    <div class='pic-frame'>
      <a href='<%- src %>' title='<%- src %>' data-gallery>
        <div>
          <img src='<%- src %>' alt='<%- src %>' >
        </div>
      </a>
    </div>
  </script>

  <script type="text/template" id="dropdown-maps-template">
    <ul class="dropdown-menu" role="menu" aria-labelledby="add-to-map">
      <li role="presentation">
         <a role="menuitem" tabindex="-1" href="#" id="add-to-new-map">New map</a>
      </li>
      <li role="presentation" class="divider"></li>
    </ul>
  </script>

  <script type="text/template" id="dropdown-map-template">
    <li role="presentation" id=<% var divId = name.replace(/[.|\s]/g, '-') %><%- divId %>>
      <a href="#"><%- name %></a>
    </li>
  </script>

  <script type="text/template" id="parent-maps-edit-template">
    <ul></ul>
  </script>

  <script type="text/template" id="parent-map-edit-template">
    <li>
      <div id=<% var divId = name.replace(/[.|\s]/g, '-') %><%- divId %>>
        <%- name %>
        <button type="button" class="btn btn-default btn-xs delete btn-right remove" id='remove'>
          <span class="glyphicon glyphicon-minus"></span>
        </button>
      </div>
    </li>
  </script>

  <script type="text/template" id="search-result-menu">
    <h5 align='center'><%- name %></h5>
    <div width='100%'>
      <a target='_blank' class='bootstrap-style-link' href='https://www.google.com/maps/place/<%- name %>'>View on gmaps</a>
    </div>
    <button type='button' class='btn btn-default link-style-button' id='add-place-button'>
      <span class='glyphicon glyphicon-plus'></span>
      Add place
    </button>
  </script>
</body>

</html>