<div ng-class="$root.col1Classes" class="sidebar-inner">

  <div class="close-button-wrapper">
    <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
  </div>

  <h4>
    Add places:
    <div class="btn-toolbar pull-right" role="toolbar">
      <a href="/#/newPlace?parentMap={{mapId}}"
       class="btn btn-default btn-xs new">
        <span class="glyphicon glyphicon-plus"> New</span>
      </a>
    </div>
  </h4>

  <div class="sidebar-inner">

    <div class="panel panel-default sidebar-content-wrapper">
      <div class="list-group">
        <a href="#" ng-click="placeLinkClick($event, place._id)" 
        class="list-group-item" ng-repeat="place in places" title="{{place.name}}">
          <div class="btn-toolbar pull-right" role="toolbar">
            <button type="button" class="btn btn-default btn-xs" 
              ng-click="addPlace(place._id, $index)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
          <div class="list-item-text">{{place.name}}</div>
        </a>
      </div>
    </div>

    <form>
      <button type="button" class="btn btn-default done" 
        ng-click="done()">
        done
      </button>
    </form>

  </div>

  

</div>