    <div class="container map-container">

        <div class="row row-content"  id="new-place-tab">

          <form>
            <div class="form-group">
              <input type="text" class="form-control" name='name' placeholder="Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="location" placeholder="Location">
            </div>
            <div class="form-group">
              <textarea class="form-control" cols="40" rows="5" name="notes" placeholder="Notes"></textarea>
            </div>
            <div class="form-group">
              <textarea class="form-control" cols="40" rows="5" name="pics" placeholder="Pics"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>

        </div>

    </div>