<div class="close-button-wrapper">
  <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
</div>

<div ng-if="showMap && showPlaces">
  <h4 ng-show="!showEditNameForm">
    <span ng-click="editName()">{{ map.name }}</span>
    <div class="btn-toolbar pull-right" role="toolbar">
      <button type="button" class="btn btn-default btn-xs" ng-click="delete()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      <button type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-plus"> place</span>
      </button>
    </div>
  </h4>

  <form class="my-inline" ng-show="showEditNameForm" ng-submit='saveNewName(newName)'>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="New name..." ng-model="newName">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </span>
    </div>
  </form>

  <div ng-if="places.length !== 0">
    <div class="panel panel-default scrollable">
      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="place in places" 
          ng-mouseover="placeHoverIn($index)" ng-mouseleave="placeHoverOut($index)">
            <td class="text-nowrap">
              <a ui-sref="app.mapsSidebar.map.place({mapId: map._id, placeId: place._id})">
                {{ place.name }}
              </a>
            </td>
            <td class="text-right text-nowrap" ng-show="showButtons[$index]">
              <div class="btn-toolbar pull-right" role="toolbar">
      			    <button type="button" class="btn btn-default btn-xs" 
                  ng-click="removePlace(place._id, $index)">
      			      <span class="glyphicon glyphicon-minus"></span>
      			    </button>
      			    <button type="button" class="btn btn-default btn-xs" 
                  ng-click="lookUpPlace(place._id)">
      			      <span class="glyphicon glyphicon-search"></span>
      			    </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ui-view="sidebarSeparator"></div>

    <div ui-view="placeDetails"></div>
  </div>

  <div ng-if="places.length === 0">
      <p>This map is empty</p>
  </div>

</div>

<div ng-if="!showPlaces">
  {{message}}
</div>
