<div ng-class="$root.col1Classes" class="sidebar-inner">
  <div class="close-button-wrapper">
    <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
  </div>
  <h4>
    Maps
    <button type="button" class="btn btn-default btx-xs pull-right add-new" ng-click="newMap()">
      <span class="glyphicon glyphicon-plus"></span> New 
    </button>
  </h4>

  <div ui-view="addMap"></div>
  
  <div ng-if="maps.length !== 0 && showMaps" class="sidebar-inner">
    <div class="panel panel-default sidebar-content-wrapper">
      <div class="list-group">
        <a ui-sref="app.map({mapId: map._id})" 
        class="list-group-item list-item-text" ng-repeat="map in maps" title="{{map.name}}">
          {{ map.name }}
        </a>
      </div>
    </div>
  </div>

  <div ng-if="maps.length === 0 && showMaps">
      <p>You don't have any maps yet.</p>
  </div>

  <div ng-if="!showMaps">
    {{message}}
  </div>

</div>