<div class="close-button-wrapper">
  <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
</div>

<div ng-if="showPlace">
  <div class="panel panel-default scrollable">

        <div class="place-pics"  ng-if="place.pics.length !== 0">
          <uib-carousel no-wrap="noWrapSlides">
            <uib-slide ng-repeat="pic in place.pics">
              <div class='pic-frame'>
                <a style="background-image: url('{{pic}}');" 
                href="{{pic}}" target="_blank"></a>
              </div>
            </uib-slide>
          </uib-carousel>
        </div>

        <div class="place-details">

          <h4 ng-click="editName()" ng-show="!showEditNameForm">{{ place.name }}</h4>

          <form class="my-inline" 
          ng-show="showEditNameForm" 
          ng-submit='saveNewName(newName)'>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Name" ng-model="newName" autofocus>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
              </span>
            </div>
          </form>

        <p ng-show="!showEditLocationForm"
         ng-click="editLocation()">
          <small> {{ place.location.lat }}, {{ place.location.lng }} </small>
        </p>

          <form class="my-inline" 
          ng-show="showEditLocationForm" 
          ng-submit='saveNewLocation(newLocation)'>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="newLocation" placeholder="Location" autofocus>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span class="glyphicon glyphicon-ok"></span>
                </button>
              </span>
            </div>
          </form>


        <p ng-show="place.notes">
          {{ place.notes }}
        </p>
      </div>

  </div>
</div>

<div ng-if="!showPlace">
  {{message}}
</div>