<div class="search-result-menu">
  <h5>{{ searchResult.title }}</h5>
  <p><a target='_blank' class='bootstrap-style-link' 
  href='https://www.google.com/maps/place/{{ searchResult.title }}'>
    View  on gmaps
  </a></p>
  <p><a href="/#/newPlace?title={{searchResult.title}}&location={{searchResult.location.lat}},{{searchResult.location.lng}}">
    <span class='glyphicon glyphicon-plus'></span>
    Add place
  </a></p>
  <p><a href="/#/newPlace?title={{searchResult.title}}&location={{searchResult.location.lat}},{{searchResult.location.lng}}&parentMap={{mapId}}">
    <span class='glyphicon glyphicon-plus'></span>
    Add place on this map
  </a></p>
</div>