/* --- General ---------------------------- */

html {
  width: 100%;
  height: 100%
}

body {
  top: 0;
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-top: 0px;
}

.map-container { 
  height: 100%; 
  width: 100%
}

.sidebar {
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  z-index: 1000;
  position: fixed;
  background-color: #fff;
  border-color: #e7e7e7;
  border-width: 1px;
  border-style: solid;
}

.fixed-right {
  right: 0;
}

.btn-right {
  margin-left: 1px;
  margin-right: 1px;
  float: right;
}

.chbx-right {
  float: right;
}

ul {
  list-style: none;
  padding-left: 20px;
}

li {
  padding-top: 8px;
}

h4 {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 8px;
}

.bootstrap-style-link {
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #333;
}

.scrollable {
  height: 100%;
  overflow: scroll; 
}

/* --- Navbar ---------------------------- */

.navbar {
  margin-bottom: 0;
}

.search-form input {
  width: 350px;
}

/* --- Map tab ---------------------------- */

div#map-tab {
  padding-top: 0;
}

/* --- Place details ----------------------- */


.place-details {
  margin-top: 10px;
  border-radius: 6px 6px 6px 6px;
  width: 370px;
}

.place-details .content {
  height: 100%;
}

.property-name {
width: 75px;
vertical-align: text-top;
text-align: right;
padding-right: 10px;
color: #DED9D9;
}

.property-value {
width: 220px;
}

.place-name {
line-height: 3;
font-size: 18px;}

.place-details .edit {
margin-top: 7px;
}

.place-details .pics-container {
  height: 130px;
  position: relative;
}

.visible-pics {
  margin: 10px;
  float: left;
    width: 250px;
    overflow: hidden;
    position: relative;
}

.all-pics {
  width: 20000px;
  height: 100px;
  position: relative;
}

.pic-frame {
  float: left;
  max-width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 5px;
}

.pics-control {
  float: left;
  font-size: 40px;
  color: black;
  text-decoration: none;
}

.pics-control:hover {
  text-decoration: none;
}

.pics-control:active {
  text-decoration: none;
}

.pics-control:link {
    text-decoration: none;
}

.pics-control.inactive {
  color: #DED9D9;
  cursor: default;
  text-decoration: none;
}

.pic-frame img {
  height: 100px;
}

ul.add-to-map {
  margin-top : 5px;
  margin-bottom : 5px;
}

ul.properties {
  padding-right: 30px;
}

li.property {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DED9D9;
}

.modal-header {
  border-bottom: 0;
}

/* --- Maps ---------------------------- */

div.maps {
  width: 300px;
  height: 300px;
}

.maps .content {
  padding-right: 20px;
}

/* --- New place tab -------------------- */

div#new-place-tab {
  padding-top: 10px;
}

/* --- Search res menu ------------------- */

.search-res-menu h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.one-line {
  width: 100%;
}
