<div class="dropdown add-to-map">
<button class="btn btn-default dropdown-toggle add-map" type="button" data-toggle="dropdown">
  Add to map
  <span class="caret"></span>
</button>

<ul class="dropdown-menu" role="menu" aria-labelledby="add-to-map">
  <li role="presentation">
     <a role="menuitem" tabindex="-1" href="#" id="add-to-new-map">New map</a>
  </li>
  <li role="presentation" class="divider"></li>
</ul>
</div>