<div id=<% var divId = name.replace(/[.|\s]/g, '-') %><%= divId %>>
<form>
  <div class="input-group">
    <input type="text" class="form-control" name="name" value='<%= name %>'>
    <span class="input-group-btn">
      <button class="btn btn-default save" type="submit">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </span>
  </div><!-- /input-group --> 
</form>
</div>
