<div id=<% var divId = name.replace(/[.|\s]/g, '-') %><%= divId %>>
  <a href='#' class='bootstrap-style-link'><%= name %></a>
  <button type="button" class="btn btn-default btn-xs btn-right delete">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
  <button type="button" class="btn btn-default btn-xs btn-right edit">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
</div>