<form class="new-map">
  <div class="input-group">
    <input type="text" class="form-control" name="name" placeholder="New map name...">
    <span class="input-group-btn">
      <button class="btn btn-default save" type="submit">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </span>
  </div><!-- /input-group -->
</form>