<li class='parent-map'>
  <div id=<% var divId = name.replace(/[.|\s]/g, '-') %><%= divId %>>
    <%= name %>
    <button type="button" class="btn btn-default btn-xs btn-right remove" style='display: none;'>
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </div>
</li>
