<div>
<table>
  <tr>
    <td class="property-name">
      On maps:
    </td>
    <td class="property-value">
      <ul class="parent-maps-list">
      </ul>
    </td>
    <td>
      <button type="button" class="btn btn-default btn-xs btn-right edit" style='display: none;'>
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </td>
  </tr>
</table>
<div class="add-on-map"  style='display: none;'></div>
<button type="button" class="btn btn-default done"  style='display: none;'>
  <span class="glyphicon glyphicon-ok"></span>
</button>
</div>