<li>
  <div id=<% var divId = name.replace(/[.|\s]/g, '-') %><%= divId %>>
    <a href='#' class='bootstrap-style-link'><%= name %></a>
    <button type="button" class="btn btn-default btn-xs btn-right remove">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs btn-right lookup">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </div>
</li>
