    <table>
      <tr>
        <td class="property-name">
          Notes:
        </td>
        <td class="property-value">
          <%= notes %>
        </td>
        <td>
          <button type="button" class="btn btn-default btn-xs btn-right edit" style='display: none;'>
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </td>
      </tr>
    </table>
  </script>
