<h5 align='center'><%= name %></h5>
<div class='one-line'>
  <a target='_blank' class='bootstrap-style-link' href='https://www.google.com/maps/place/<%- name %>'>View on gmaps</a>
</div>
<a href='#' class='bootstrap-style-link add-place'>
  <span class='glyphicon glyphicon-plus'></span>
  Add place
</a>
<a href='#' class='bootstrap-style-link'></a>