<!DOCTYPE html>
<html lang="en" ng-app="aroundTheWorld">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Travel planning app">
  <meta name="author" content="Daria Kashcha dashka.kh@gmail.com">

  <title>Around the world</title>

  <link rel="stylesheet" href="css/lib/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>

  <div class="map-container">

    <div ui-view="header" class="header"></div>
    <div ui-view="content" class="content"></div>

    <div ui-view="layout"></div>
  <div>

  <script src="js/lib/jquery-1.11.1.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/lib/angular.min.js"></script>
  <script src="js/lib/angular-ui-router.js"></script>
  <script src="js/lib/angular-resource.min.js"></script>
  <script src="js/lib/ui-bootstrap-tpls-1.1.0.min.js"></script>

  <script src="js/lib/ejs.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script> 

  <script>
    var userName = null;

    <%if (user) { %>
      userName = "<%= user.displayName %>"
    <% } %>

     angular.module('user', [])
       .constant('userName', userName);
  </script>

  <script src='js/app.js'></script>
  <script src='js/services.js'></script>
  <script src='js/utils/parse.js'></script>
  <script src='js/controllers/controllers.js'></script>
  <script src='js/controllers/gmapController.js'></script>
  <script src='js/controllers/headerController.js'></script>
  <script src='js/controllers/mapController.js'></script>
  <script src='js/controllers/mapsListController.js'></script>
  <script src='js/controllers/newMapController.js'></script>
  <script src='js/controllers/newPlaceController.js'></script>
  <script src='js/controllers/placeController.js'></script>
  <script src='js/controllers/addPlacesOnMapController.js'></script>

</body>

</html>